.information {
	width: 100%;
	margin: 0;
	height: 60.813rem;
	padding: 5.625rem 0;
	background-color: var(--bg-color2);
}


.information__results {
	max-width: 69.375rem;
	display: flex;
	gap: 1.875rem;
	justify-content: space-between;
	align-items: center;
}

.result-v1,
.result-v2,
.result-v3 {
	width: 21.875rem;
	height: 8.688rem;
	padding-top: 1.25rem;
	border-top: 1px solid var(--border-color);
	display: flex;
	gap: 1.875rem;
	align-items: center;
}

.result-v1__img,
.result-v2__img,
.result-v3__img {
	display: block;
	width: 10rem;
	height: 7.375rem;
}

b {
	font-weight: 500;
	color: var(--font-color3);
}

.result-v1__subtitle,
.result-v2__subtitle,
.result-v3__subtitle {
	margin: 0;
	width: 10rem;
	height: 5.063rem;

	line-height: 150%;
	font-size: 1.125rem;
	color: var(--font-color2);
}

.subsection {
	margin: 5.625rem 0;
	height: 35.25rem;
	display: flex;
	justify-content: space-between;
}

.information__background {
	display: block;
	width: 45.625rem;
	height: 35.25rem;
}

.information__block {
	width: 21.875rem;
	height: 27.813rem;
}

.information__title {
	margin: 0 0 1.25rem;
	line-height: 100%;
	font-size: 2.5rem;
	font-weight: 400;
	color: var(--font-color3);
}

.information__subtitle {
	margin: 0.625rem 0 0;
	width: 21.875rem;
	line-height: 170%;
	font-size: 1.125rem;
	color: var(--font-color2);
}





/* 1025px */
@media (max-width: 64.063rem) {
	.information {
		height: 50.625rem;
		padding: 3.75rem 0;
	}

	.information__results {
		height: 13.688rem;
		align-items: start;
	}

	.result-v1,
	.result-v2,
	.result-v3 {
		width: 13.125rem;
		height: 13.688rem;
		gap: 0;
		flex-direction: column;
		align-items: start;
	}

	.result-v1__img,
	.result-v2__img,
	.result-v3__img {
		width: 10rem;
		height: 7.375rem;
	}

	.subsection {
		height: auto;
		margin: 2.5rem 0 2.5rem;
		gap: 1.875rem;
	}

	.information__title {
		width: 20.625rem;
		font-size: 1.875rem;
	}
	.information__subtitle {
		width: 20.625rem;
	}
}





/* 768px */
@media (max-width: 48rem) {
	.information {
		height: 52.813rem;
	}

	.information__results {
		margin-bottom: 1.25rem;
		gap: 0.938rem;
	}

	.result-v1__subtitle,
	.result-v2__subtitle,
	.result-v3__subtitle {
		font-size: 2.344vw;
	}

	.subsection {
		flex-direction: column;
		gap: 0;
	}

	.information__background {
		max-width: 20.625rem;
		height: 15.938rem;
	}

	.information__block,
	.information__title,
	.information__subtitle {
		width: 100%;
	}

	.information__title {
		margin: 1.25rem 0 0.875rem;
		font-size: 1.5rem;
	}
	.information__subtitle {
		font-size: 1rem;
	}
}





/* 576px */
@media (max-width: 36rem) {
	.information {
		height: auto;
	}

	.information__results {
		display: block;
		gap: 0;
		width: 100%;
		height: 24.25rem;
	}

	.result-v1,
	.result-v2,
	.result-v3 {
		padding: 1.25rem 0;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-height: 8.563rem;
	}
	
	.result-v1__img,
	.result-v2__img,
	.result-v3__img {
		padding: 0;
		width: 8.125rem;
		height: 6rem;
	}

	.result-v1__subtitle,
	.result-v2__subtitle,
	.result-v3__subtitle {
		width: 8.125rem;
		height: 4.5rem;
		font-size: 1rem;
	}

	.subsection {
		display: block;
		margin: 3.75rem 0 0;
		width: 100%;
	}

	.information__background {
		width: 100%;
		max-width: 18.125rem;
		margin: 0 auto 0 0.75rem;
		height: auto;
	}

	.information__block {
		width: 100%;
		height: auto;
	}
}