.products {
	width: 100%;
	margin: 0;
	min-height: 40.313rem;
	padding: 5.625rem 0;
	background-color: var(--bg-color);
}

.products__wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.875rem;
}

.products__card {
	margin: 0;
	padding: 0;
	width: 15.938rem;
	padding-bottom: 0;
	border-bottom: 1px solid var(--bg-color2);
	border-right: 1px solid var(--bg-color2);
	border-bottom-left-radius: var(--button-border-radius);
	border-bottom-right-radius: var(--button-border-radius);
}

.card__img {
	display: block;
	width: 15.938rem;
	height: 11.25rem;
	margin: 0;
	padding: 0;
}

.card__title {
	width: 100%;
	height: 2.188rem;
	margin: 1.25rem 0 0.5rem;

	color: var(--font-color3);
	font-weight: 400;
	font-size: 1.875rem;
}

.card__quantity {
	display: block;
	width: 100%;
	height: 1rem;

	color: var(--font-color4);
	font-weight: 400;
	font-size: 0.875rem;
}

.card__description {
	width: 15.938rem;
	margin: 0.5rem 0 1.25rem;

	line-height: 170%;
	color: var(--font-color2);
	font-weight: 400;
	font-size: 1.125rem;
}

.card__more {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.625rem 0;
	width: 100%;
	height: 2.5rem;
	color: var(--button-font-color);
	font-weight: 400;
	font-size: 1.25rem;
	border-bottom-left-radius: var(--button-border-radius);
	border-bottom-right-radius: var(--button-border-radius);
}
.card__more:hover {
	background-color: var(--button-bg-color);
}
.card__more:active {
	padding: 0;
	color: var(--button-font-color2);
	background-color: var(--button-bg-color);
}





/* 768px */
@media (max-width: 48rem) {
	.products {
		padding: 5.625rem 0 0;
	}
	.products__wrapper {
		justify-content: space-between;
		align-items: center;
		gap: 0.625rem;
	}
	.products__card {
		width: 20.625rem;
		margin-bottom: 3.75rem;
	}
	.card__img {
		width: 100%;
		object-fit: cover;
	}
	.card__description {
		width: 100%;
	}
}





/* 749px */
@media (max-width: 46.813rem) {
	.products {
		padding: 3.75rem 0;
	}
	.products__wrapper {
		justify-content: center;
		gap: 1.875rem;
	}
	.products__card {
		width: 15rem;
		margin-bottom: 0;
	}
}





/* 584px */
@media (max-width: 36.5rem) {
	.products {
		padding: 3.75rem 0 0;
	}
	.products__wrapper {
		flex-wrap: nowrap;
		flex-direction: column;
		gap: 0;
	}
	.products__card {
		width: 100%;
		margin-bottom: 3.75rem;
	}
	.card__img {
		width: 100%;
		object-fit: contain;
		border: 1px solid var(--bg-color2);
		border-right: none;
	}
}