.footer {
	min-height: 5rem;
	background-color: #4C5866;
}

.footer__wrapper {
	min-height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__logo-link,
.footer__logo-img {
	width: 8.75rem;
	height: 1.5rem;
}

.footer__divider {
	display: none;
}

.socials {
	height: 1.5rem;
	display: flex;
	gap: 1.875rem;
}

.facebook-link,
.twitter-link,
.instagram-link,
.youtube-link {
	width: 1.5rem;
	height: 1.5rem;
}

.facebook-icon,
.twitter-icon,
.instagram-icon,
.youtube-icon {
	fill: #fff;
	width: 1.5rem;
	height: 1.5rem;
}

.icon-hover:hover {
	fill: #DAD9FB;
}
.icon-hover:active {
	fill: #8785ff;
}

.simple__rights {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 1.25rem;
	background-color: var(--bg-color);
	color: var(--font-color);
	font-size: 0.813rem;
}

.simple__rights > span {
	color: #BCBCBC;
	margin: 0 0.313rem;
}





/* 438px */
@media (max-width: 27.375rem) {
	.footer {
		padding: 1.25rem 0; 
	}
	.footer__wrapper {
		flex-direction: column;
	}

	.footer__logo-link {
		display: block;
		width: 8.75rem;
		height: 1.5rem;
		margin: 0 auto;
	}

	.footer__divider {
		display: block;
		width: 100%;
		height: 1px;
		background-color: var(--divider-color);
		border: none;
	}

	.socials {
		margin: 0 auto;
		width: 11.625rem;
		height: 1.5rem;
	}
}