.header {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 5rem;
	z-index: 999;
	padding-inline: 2.5rem;
	background-color: var(--bg-color);
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--divider-color);
}

.logo__link,
.logo__img {
	width: 8.75rem;
	height: 1.5rem;
}

.nav {
	margin: 0 auto;
}

.nav__list {
	height: 1.5rem;
	display: flex;
	align-items: center;
	gap: 3.75rem;
}

.nav__item {
	height: 1.5rem;
}

.nav__link {
	position: relative;
	color: var(--font-color);
	font-size: 1.25rem;
	cursor: default;
}

/* underline decoration for nav links */
.nav__link::after {
	position: absolute;
	content: "";
	width: 100%;
	bottom: -0.313rem;
	left: -10%;
	right: 0;
	height: 0.125rem;
	background-color: transparent;
	transition: all 0.2s linear;
}
.nav__link:hover::after {
	left: 0%;
	background-color: var(--font-color);
}

.actions {
	width: 8.75rem;
	height: 1.5rem;
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 1.875rem;
}

/* Preparation for the burger menu realisation */
#burger-buttonID {
	display: none;
}

.actions-burger__button {
	display: none;
}

.actions-burger__button,
.actions-burger__icon,
.actions-search__link,
.actions-search__icon,
.actions-login__link,
.actions-login__icon {
	width: 1.5rem;
	height: 1.5rem;
}





/* 920px */
@media (max-width: 57.5rem) {
	
	.header {
		height: 6.563rem;
		flex-wrap: wrap;
	}

	.nav {
		width: 100%;
		order: 1;
		margin-right: 0;
	}

	.nav::before {
		content: "";
		position: absolute;
		width: 100vw;
		height: 1px;
		top: 0;
		left: 0;
		background-color: var(--divider-color);
	}

	.nav::before {
		top: 2.813rem;
	}

	.nav__list {
		margin: 1.125rem 0;
		justify-content: space-between;
		gap: 6.667vw;
	}

	.actions {
		height: 2.813rem;
		margin-left: auto;
	}
}





/* 678px */
@media (max-width: 42.375rem) {
	.header {
		padding-inline: 1.875rem;
	}
}





/* 576px */
@media (max-width: 36rem) {

	.header {
		padding-inline: 1.875rem;
		align-items: end;
	}

	.logo__link {
		margin: 0 auto;
	}

	.nav {
		display: none;
	}

	.actions {
		width: 100%;
		height: 3.75rem;
	}

	.actions::before {
		content: "";
		position: absolute;
		width: 100vw;
		height: 1px;
		top: 0;
		left: 0;
		background-color: var(--divider-color);
	}

	.actions::before {
		top: 2.813rem;
	}

	.actions-burger__button {
		margin-right: auto;
		display: flex;
		width: 1.5rem;
		height: 1.5rem;
		cursor: pointer;
	}
}




/* 353px */
@media (max-width: 22.063rem) {
	.header {
		padding-inline: 0.938rem;
	}
}